# GEMINI_API_KEY: Required for Gemini AI API calls.
GEMINI_API_KEY="MY_GEMINI_API_KEY"

# APP_URL: The URL where this applet is hosted.
APP_URL="MY_APP_URL"

# POSTGRESQL DATABASE CREDENTIALS
PGHOST="psql.fr-roub1.bengt.wasmernet.com"
PGPORT="20184"
PGDATABASE="Animanga"
PGUSER="user_a26e3696"
PGPASSWORD="pw_PoNZi6Eepzfw4dMbLWDuBxLyK8fi3YXl"
PGSSL="true"

# TEZCHEK.UZ PAYMENT GATEWAY CREDENTIALS
TEZCHEK_API_KEY="8237d3501a36506d3271f7918fe9bee985f300ed"
TEZCHEK_SHOP_ID="118"

# TELEGRAM OPENID / OAUTH CREDENTIALS
TELEGRAM_CLIENT_ID="8978777660"
TELEGRAM_CLIENT_SECRET="WuJTbvlJIrpscyv2dHaPHlATE-EQsvIMQjuJEW3Jgt8MULxQrVnabw"


